<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Existing files or directories ko direct serve karo
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Baaki sab requests index.html ko bhejo
  RewriteRule ^ index.html [L]
</IfModule>